.top-nav{
    width: 95%;
    padding: 0.5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: 3px solid gray;
}

.top-nav > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 500;
}
.top-nav .mid{
    font-weight: 800;
}
.left, .right{
    width: 25%;
}
.nav-span{
    color: #ec502d;
}
.btn{
    background-color: #ec502d;
    border: none;
    outline: none;
    width: 150px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}